body {
	background-image: url("files/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: auto;
}
p {
	text-align: center;
	font-size: 40px;
	color: white !important;
}
h2 {
	font-size: 1px !important;
	bottom: 0% !important;
	position: fixed !important;
}
.table {
	height: 295px !important;
	width: 295px !important;
	margin: 0 auto !important;
	vertical-align: middle !important;
	margin-top: 5% !important;
}
th {
	border: 2px solid #fff;
	height: 100px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 60px;
	cursor: pointer;
	color: white !important;
}
table tr:first-child th {
	border-top: 0;
}
table tr:last-child th {
	border-bottom: 0;
}
table tr th:first-child {
	border-left: 0;
}
table tr th:last-child {
	border-right: 0;
}

/* End Game */
.gameOverDiv {
	display: none;
	width: 200px;
	top: 50%;
	background-color: rgba(255, 144, 0, 0.9);
	position: absolute;
	left: 50%;
	margin-left: -100px;
	text-align: center;
	border-radius: 15px;
	color: white;
	font-size: 30px;
}

/* Mute Button */
#mute {
	position: absolute !important;
	right: 0 !important;
	top: 0 !important;
}

/* Media Queries */
@media screen and (max-width: 991px) {
/* start of large tablet styles */
	.h11 {
		font-size: 30px !important;
		margin: 5px 0px 5px 5px !important;
		text-align: center !important;
	}
}
@media screen and (max-width: 767px) {
/* start of medium tablet styles */
	.h11 {
		font-size: 20px !important;
		margin: 5px 0px 5px 5px !important;
		text-align: center !important;
	}
}
@media screen and (max-width: 479px) {
	.h11 {
		font-size: 15px !important;
		margin: 5px 0px 5px 5px !important;
		text-align: center !important;
	}
}
